body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

canvas {
    background: #222;
    margin: auto;
    display: block;
    border: 4px solid white;
}

#scoreboard {
    margin: 10px;
    font-size: 18px;
}

#mobileControls {
    display: none;
    margin-top: 10px;
}

#mobileControls button {
    font-size: 24px;
    margin: 5px;
    padding: 15px;
}

@media (max-width: 768px) {
    #mobileControls {
        display: block;
    }
}
